<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/assets/style.css" />
    </head>

    <body>

        <header>

            <!-- <h1>Blog de la piscine</h1> -->

            <div class="logo">
                <a href="http://localhost/piscine-blog/public/">
                    <img src="../public/assets/img/otter-solid.png" alt = logo>
                </a>
            </div>


            <nav>
                <ul>
                    <li><a href="http://localhost/piscine-blog/public/">Home</a></li>
                    <li><a href="http://localhost/piscine-blog/public/add-article">Add Article</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Reviews</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Connexion</a></li>
                </ul>
            </nav>

        </header>



    {% block content %}
    {% endblock %}



        <aside id="sidebar">
            <p class="whiteFont"> Je suis la barre latérale </p>
        </aside>


        <footer>

            <p> © La Piscine 2024 </p>

            <div class="logoFooter">
                <img src="../public/assets/img/otter-solid.svg" alt="logo">
            </div>

        </footer>

    </body>

</html>


<!-- On appelle jamais ce fichier dans un controller -->