
/* @font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
} */


* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

/* --------------- Général --------------- */
img {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 2% 0;
    color: rgb(40, 70, 236);
    text-transform: uppercase;
}


h2 {
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

p {
    color : rgb(40, 70, 236);
    font-size: 16px;
}



/* --------------- HEADER --------------- */
header {
    /* background-color: rgb(145, 154, 208); */
    background-color: rgb(255, 213, 88);
    color: rgb(40, 70, 236);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6%;
    padding: 1%;
}

    /* ------ LIST - UL - LI ------ */

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    li {
        text-decoration: none;
        padding: 5px 20px;
        /* color: blanchedalmond; */
    }

    a {
        text-decoration: none;
        color: rgb(40, 70, 236);
        font-size: 15px;
        text-align: center;
    }



  /* --------------- MAIN --------------- */

    /* ------ ARTICLE ------ */

    #articles {
        display: flex;
        flex-wrap: wrap;
    }

    .fontDate {
        font-size: 16px;
        text-align: center;
        color: grey;
    }

    .articleBlog {
        width: 28%;
        background-color: rgba(251, 221, 131, 0.662);
        border-radius: 30px;
        margin: 3% auto;
        padding: 10px 20px;
        transition: all 0.8s ease;
        text-align: center;
    }

    .articleBlog:hover {
        background-color: rgba(40, 70, 236, 0.6);
        transform: scale(1.05);
    }


    /* --------------- addArticleView --------------- */
    form {
        text-align: center;
        padding: 20px 0;
    }

    .messageOk {
        color : rgb(40, 70, 236);
        font-size: 16px;
        padding: 6px 0 20px 0;
        text-align: center;
    }


/* --------------- indexView --------------- */

.actionButtons {
    display: flex;
    justify-content: space-around;
}



/* --------------- FOOTER --------------- */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(232, 204, 121); */
    background-color: rgb(255, 213, 88);
    color: rgb(40, 70, 236);

    /* position: fixed;
    bottom: 0; */
}

.logoFooter {
    width: 3%;
    padding: 1%;
    color: rgba(43, 178, 212, 0.684);
}


