{% include('partial/header.html.twig') %}

<main>

    <h1>La suppression de l'article a échoué</h1>

    <a class="centerA" href="http://localhost/piscine-blog/public/" > Retour à la page d'accueil </a>

</main>

{% include('partial/footer.html.twig') %}


