{% extends "base.html.twig" %}

{% block content %}

<main>

        <h1>Le super blog</h1>

        <article>
            <h2> {{ article.titre }} </h2>
            <p> {{ article.content }} </p>
            <p class="fontDate"> {{ article.created_at}} </p>

        </article>

    </main>

{% endblock content %}